@use '../utils/vars' as *;       
@use '../utils/mixins' as *;
@use '../utils/typography' as *;

.alertContainer{
    padding: 5px;
    border-radius: 5px;
    @include displayFlex();
    width: 300px;
    text-align: center;
    position: fixed;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: $bold;
    animation: alert-slide-in 0.6s ease forwards;
}