@use '../utils/vars' as *;       
@use '../utils/mixins' as *;
@use '../utils/typography' as *;
@use '../utils/breakpoints' as *;

.cart{
    background-image: $secondary-Normal-BackgroundImage;
    border-radius: 50%;
    padding: 10px;
    @include displayFlex();
    @include sizes(60px,60px);
    box-shadow: $shadow;
    position: fixed !important;
    bottom: 20px;
    right: 10px;
    z-index: 999999;
    cursor: pointer;

    .cart-count {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: $brandColor;
        color: $lightFontColor;
        font-weight: $superBold;
        border-radius: 50%;
        @include sizes(25px,25px);
        @include displayFlex();
        font-size: $sm;
      }
}
.cart.hidden {
    display: none; 
}

.cart.visible {
    display: block; 
}
.cart-modal{
    position: fixed;
    bottom: 0px;
    @include sizes($height:35%);
    z-index: 1000000;
    background-image: $light-BackgroundImage;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: $shadow;
    @include displayFlex();
    animation: cart-slide-in 1s ease forwards;

    @include breakpoint(small){
        width: 30%;
        right: 0px;
    }
    .cart-content{
        @include sizes();
        @include displayFlex();
        position: relative;

        .close-button{
            @include buttonDesign($width: 40px);
            position: absolute;
            top: 10px;
            right: 10px;
        }
        h2{
            position: absolute;
            top: 20px;
            color: $brandColor;
            font-weight: $superBold;
        }
        ul{
            @include sizes();
            margin-top: 50px;
            @include displayFlex();
            padding: 5px;
            overflow-y: scroll;
            overflow-x: hidden;
            display: block;
            position: relative;
            padding-bottom: 60px;
            scrollbar-width: none;

            li{
                list-style: none;
                @include sizes($height:150px);
                @include displayFlex($flexDirection:row, $justifyContent: space-between);
                border-bottom: 1px solid rgba(0, 0, 0, 0.322);

                .order-summary{
                    @include sizes();
                    @include displayFlex();
                    align-items: flex-start;
                }
                .delete-button{
                    @include buttonDesign($width: 40px, $height: 40px);
                    background-image: none;
                }
            }
        }
    }
    .totalCart{
        @include sizes($height: 50px);
        @include displayFlex($justifyContent: space-between, $flexDirection:row);
        background-image: $secondary-Normal-BackgroundImage;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        padding: 10px;
        overflow: hidden;
        color: $lightFontColor;
        font-weight: $superBold;
        font-size: $md;
        padding-left: 25px;
        position: fixed;
        bottom: 0px;

        @include breakpoint(small){
            width: 30%;
            right: 0px;
        }

        .sendOrder{
            @include buttonDesign($width: 50%, $height: 30px);
            @include displayFlex($flexDirection:row);
            background-image: $light-BackgroundImage;
            color: $darkFontColor;
            margin-right: 20px;
        }
    }
}