@use '../../utils/vars' as *;       
@use '../../utils/mixins' as *;
@use '../../utils/typography' as *;
@use '../../utils/breakpoints' as *;

.admin-briefcase-panel{
    @include displayFlex();
    @include sizes(95%,200px);

    @include breakpoint(medium){
        width: 500px;
    }

    .admin-buttons{
        @include sizes();
        @include displayFlex();
        gap: 10px;

        button{
            @include buttonDesign($width: 300px);
        }
    }

    // Categorias & Productos
    .modal-briefcase{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        @include displayFlex();
        @include sizes();

        .modal-content-briefcase{
            background: #fff;
            padding: 5px;
            border-radius: 8px;
            max-width: 300px;
            max-height: 400px;
            overflow: hidden;
            @include displayFlex();
            justify-content: flex-start;
            @include sizes();

            @include breakpoint(medium){
                max-width: 500px;
                max-height: 600px;
            }

            div{
                @include sizes($height:100px);
                @include displayFlex($flexDirection:row);
                gap: 10px;
        
                input{
                    border: 1px solid $darkFontColor;
                    padding: 5px;
                    border-radius: 5px;
                    font-family: $montserratFont;
                    background-color: transparent;
                    color: $darkFontColor;
                    font-size: $sm;
                    @include sizes(75%, 40px);
                    outline: none;
                }
                button{
                    @include buttonDesign();
                    flex-direction: row;
                    gap: 5px;
                }
            }
            .briefcase-createProduct{
                flex-wrap: wrap;
                padding: 5px;
                height: 400px;
        
                select{
                    border: none;
                    @include sizes(75%,$height:30px);
                    border-radius: 5px;
                    font-family: $montserratFont;
                    outline: none;
                    background-color: $brandColor;
                    color: $lightFontColor;
                    font-weight: $bold;
                    padding: 5px;
        
                    input{
                        width: 100%;
                        height: 30px;
                    }
                }
                button{
                    width: 75%;
                }
            }
            ul{
                @include sizes();
                @include displayFlex();
                justify-content: flex-start;
                overflow-y: scroll;
                overflow-x: hidden;
                scrollbar-width: none;
                padding: 5px;
        
                li{
                    list-style: none;
                    @include sizes($height: 50px);
                    @include displayFlex($flexDirection:row, $justifyContent: space-between);
                    gap: 5px;
                    padding: 3px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
                    
                    input{
                        border: 1px dashed black;
                        background-color: transparent;
                        @include sizes($height:40px);
                        outline: none;
                        font-family: $montserratFont;
                        font-size: $md;
                    }
                    span{
                        @include sizes($height: 40px);
                        @include displayFlex();
                        align-items: flex-start;
                        font-size: $md;
                    }
                    button{
                        @include buttonDesign($width: 25px, $height: 25px);
                        border-radius: 3px;
                    }
                }
            }
            .briefcase-productUl{                
                li{
                    height: 150px;
                    border: 1px solid rgba(0, 0, 0, 0.473);
                    border-radius: 5px;
                    padding: 10px;
                    
                    div{
                        @include displayFlex($justifyContent: space-between);
                        @include sizes();
        
                        strong,p,span{
                            @include sizes($height: 30px);
                            @include displayFlex();
                            align-items: flex-start;
                            font-size: $sm;
                        }
                    }
                }
            }
            button{
                @include buttonDesign();
            }
        }
        .product-content-briefcase{
            max-height: 80%;
        }
    }
}