@use '../utils/vars' as *;       
@use '../utils/mixins' as *;
@use '../utils/typography' as *;
@use '../utils/animations' as *;
@use '../utils/breakpoints' as *;

.briefcaseFatherContainer{
    @include sizes();
    @include displayFlex($justifyContent:space-between);
    min-height: 100vh;
    background-image: $primary-Normal-BackgroundImage;
    gap: 10px;

    h1{
        @include sizes($height: 70px);
        font-size: 30px;
        font-family: $chennaiFont;
        @include displayFlex();
        background-image: $light-BackgroundImage;
        color: $brandColor;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;

        @include breakpoint(medium){
            font-size: 70px;
            height: 150px;
        }
    }

    ul{
        @include sizes(95%, 90px);
        @include displayFlex();
        box-shadow: $shadow;
        border-radius: 60px;
        background-image: $light-BackgroundImage;

        @include breakpoint(medium){
            width: 50%;
            gap: 25px;
            flex-direction: row;
        }

        li{
            @include sizes($height:30px);
            list-style: none;
            @include displayFlex();
            font-size: $sm;
            color: $brandColor;
            font-weight: $superBold;
            padding: 5px;

            @include breakpoint(medium){
                width: 50%;
            }
        }
    }

    p{
        @include sizes();
        @include displayFlex();
        font-size: 80px;
    }

    div{
        @include sizes(95%);
        @include displayFlex();
        gap: 10px;

        @include breakpoint(medium){
            width: 50%;
        }

        h2{
            font-size: 30px;
            @include sizes($height: 40px);
            @include displayFlex();
            background-color: $secondaryFontColor;
            border-radius: 60px;
            box-shadow: $shadow;
            color: $lightFontColor;

            @include breakpoint(medium){
                height: 70px;
                font-size: 50px;
            }
        }
        .productContainer{
            @include sizes();
            @include displayFlex($flexDirection:row, $justifyContent:space-between);
            gap: 10px;

            .leftProductContainer{
                @include sizes(70%);
                @include displayFlex();
                align-items: flex-start;

                h3{
                    font-weight: $superBold;
                    @include sizes();
                    color: $darkFontColor;
                }
                span{
                    @include sizes();
                    @include displayFlex();
                    justify-content: flex-start;
                    align-items: flex-start;
                    color: $lightFontColor;
                    font-weight: $superBold;
                    border-bottom: 1px dashed rgba(255, 255, 255, 0.61);
                }
            }
            .rightProductContainer{
                strong{
                    font-size: $sm;
                    background-image: $light-BackgroundImage;
                    border-radius: 10px;
                    padding: 4px;
                    @include displayFlex();
                    width: 50%;
                    @include breakpoint(xsmall){
                        font-size: $sm;
                        background-image: $light-BackgroundImage;
                        border-radius: 10px;
                        padding: 4px;
                        @include displayFlex();
                        width: 38%;
                    }
                    @include breakpoint(small){
                        font-size: $sm;
                        background-image: $light-BackgroundImage;
                        border-radius: 10px;
                        padding: 4px;
                        @include displayFlex();
                        width: 25%;
                    }

                    @include breakpoint(medium){
                        font-size: $lg;
                        background-image: $light-BackgroundImage;
                        border-radius: 10px;
                        padding: 4px;
                        @include displayFlex();
                        width: 60%;
                    }
                    @include breakpoint(large){
                        font-size: $lg;
                        background-image: $light-BackgroundImage;
                        border-radius: 10px;
                        padding: 4px;
                        @include displayFlex();
                        width: 50%;
                    }
                }
            }
            
        }
    }
    .noProductsInCategory{
        font-size: $md;

        @include breakpoint(medium){
            font-size: $lg;
        }
    }
}