@use '../utils/vars' as *;       
@use '../utils/mixins' as *;
@use '../utils/typography' as *;
@use '../utils/animations' as *;

.presentationContainer{
    @include sizes();
    @include displayFlex($justifyContent: flex-start);
    position: relative;
    margin-top: 70px;

    h1{
        @include sizes(95%,$height: 150px);
        @include displayFlex();
        font-size: 34px;
        font-weight: $superBold;
        text-align: center;
        z-index: 1000;
        animation: slide-in-text 3s ease forwards;
    }
    .principalIceCream{
        @include sizes(80%,auto);
        margin-top: -100px;
        z-index: 999;
        animation: slide-in-image 1.5s ease forwards;
        filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.308));
    }

    .backgroundEffect {
        position: absolute;
        width: 160px; 
        height: auto;
        filter: blur(2px);
        transition: transform 0.1s ease-out;
    }
    
    .backgroundEffect-1 { top: 10%; left: 5%; }
    .backgroundEffect-6 { top: 80%; right: 5%; }
}

.productContainer{
    view-timeline-name: --test;
    view-timeline-axis: block;
    background-color: azure;
    animation-timeline: --test;
    animation-name: zoomContent;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    @include sizes(95%);
    @include displayFlex();
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: $shadow;
    margin-bottom: 25px;

    h2{
        z-index: 1000;
    }
    img{
        position: absolute;
        @include sizes();
        z-index: 999;
    }
    .productLink{
        z-index: 1000;
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        @include sizes($height: 100px);
        @include displayFlex();

        button{
            @include buttonDesign($width: 50%);
            font-size: $lg;
        }
    }
}


// Parallax en scroll
@media (prefers-reduced-motion: no-preference) {
    .backgroundEffect {
        transform: translateY(calc(var(--scroll, 0) * 10px));
    }
}