// IMPORTAMOS TODOS LOS SCSS
// Se importa con @use 'buscas la carpeta' y ';'
// Variables, mixins y bases
@use './utils/vars' as *;       
@use './utils/mixins' as *;
@use './utils/typography' as *;
@use './base/reset';
@use './base/base';

// Componentes
@use './components/footerComponent';
@use './components/headerComponent';
@use './components/menuBurguerComponent';

// Vistas
@use './pages/homeView';

// Body general
body {
    font-family: $montserratFont;
    background: $light-BackgroundImage;
    background-size: cover;
    background-attachment: fixed; 
    color: $darkFontColor;
    @include displayFlex($justifyContent: space-between);
    @include sizes();
}

// ROOT del index.js
#root{
    @include sizes();
}

// Main general
main {
    @include sizes($height: 2700px);
    @include displayFlex();
    justify-content: flex-start;

    .fatherContainer{
        @include sizes();
        @include displayFlex();
        gap: 25px;
    }
}