@font-face {
  font-family: "Chennai W00 Black";
  src: url("../../public/assets/fonts/cc13032c6f788beadfb8519e4dc55d73.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.cart {
  background-image: linear-gradient(45deg, #4b57f5 0%, #375aca 99%, #2927b4 100%);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  position: fixed !important;
  bottom: 20px;
  right: 10px;
  z-index: 999999;
  cursor: pointer;
}
.cart .cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #92a6d8;
  color: #f1f1f1;
  font-weight: 800;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.cart.hidden {
  display: none;
}

.cart.visible {
  display: block;
}

.cart-modal {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 35%;
  z-index: 1000000;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: cart-slide-in 1s ease forwards;
}
@media (min-width: 768px) {
  .cart-modal {
    width: 30%;
    right: 0px;
  }
}
.cart-modal .cart-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cart-modal .cart-content .close-button {
  border: 0px;
  padding: 5px;
  border-radius: 20px;
  background-color: #ff4e4b;
  width: 40px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-modal .cart-content h2 {
  position: absolute;
  top: 20px;
  color: #92a6d8;
  font-weight: 800;
}
.cart-modal .cart-content ul {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px;
  scrollbar-width: none;
}
.cart-modal .cart-content ul li {
  list-style: none;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}
.cart-modal .cart-content ul li .order-summary {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.cart-modal .cart-content ul li .delete-button {
  border: 0px;
  padding: 5px;
  border-radius: 20px;
  background-color: #ff4e4b;
  width: 40px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: none;
}
.cart-modal .totalCart {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(45deg, #4b57f5 0%, #375aca 99%, #2927b4 100%);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 10px;
  overflow: hidden;
  color: #f1f1f1;
  font-weight: 800;
  font-size: 16px;
  padding-left: 25px;
  position: fixed;
  bottom: 0px;
}
@media (min-width: 768px) {
  .cart-modal .totalCart {
    width: 30%;
    right: 0px;
  }
}
.cart-modal .totalCart .sendOrder {
  border: 0px;
  padding: 5px;
  border-radius: 20px;
  background-color: #ff4e4b;
  width: 40%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #f1f1f1;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  color: #2c2c2c;
  margin-right: 20px;
}

main {
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  margin-top: 65px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
main .fatherContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.cart {
  background-image: linear-gradient(45deg, #4b57f5 0%, #375aca 99%, #2927b4 100%);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 20px 1px rgba(58, 58, 58, 0.315);
  position: fixed !important;
  bottom: 20px;
  right: 10px;
  z-index: 20000;
  cursor: pointer;
}

.cart.hidden {
  display: none;
}

.cart.visible {
  display: block;
}/*# sourceMappingURL=main.css.map */