// IMPORTAMOS TODOS LOS SCSS
// Se importa con @use 'buscas la carpeta' y ';'
// Variables, mixins y bases
@use './utils/vars' as *;       
@use './utils/mixins' as *;
@use './utils/typography' as *;
@use './base/reset';
@use './base/base';

// Componentes
@use './components/footerComponent';
@use './components/headerComponent';
@use './components/menuBurguerComponent';
@use './components/products/yogurComponent';
@use './components/carouselComponent';
@use './components/form/formComponent';
@use './components/cart';
@use './components/alert';

// Layouts
@use './layouts/productComponent';

// Vistas
@use './pages/homeView';

// Body general
body {
    font-family: $montserratFont;
    background: $light-BackgroundImage;
    background-size: cover;
    background-attachment: scroll; 
    color: $darkFontColor;
    @include displayFlex($justifyContent: space-between);
    @include sizes();
}

// ROOT del index.js
#root{
    @include sizes();
}

// Main general
main {
    @include sizes($height: 2700px);
    @include displayFlex();
    justify-content: flex-start;

    .fatherContainer{
        @include sizes();
        @include displayFlex();
        gap: 25px;
    }
}

// Cart
.cart{
    background-image: $secondary-Normal-BackgroundImage;
    border-radius: 50%;
    padding: 10px;
    @include displayFlex();
    @include sizes(60px,60px);
    box-shadow: $shadow;
    position: fixed !important;
    bottom: 20px;
    right: 10px;
    z-index: 20000;
    cursor: pointer;
}
.cart.hidden {
    display: none; 
}

.cart.visible {
    display: block; 
}