@use '../utils/vars' as *;
@use '../utils/mixins' as *;

@keyframes btn-move-animation {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}

// Zoom contenido
@keyframes zoomContent {
    0%{opacity: 0; scale: 25%;}
    100%{opacity: 1; scale: 100%;}
}

// Deslizamiento de imagen y texto principal
@keyframes slide-in-image {
    0%{transform: rotate(-55deg) translateX(-1500px);}
    100%{transform: rotate(0deg) translateX(0px);}
}
@keyframes slide-in-text {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

// Aparicion del nav
@keyframes slide-in-nav {
    0%{margin-top: -70px;}
    100%{margin-top: 0px;}
}

// Efecto del fondo
@keyframes background-effect {
    0%{transform: translateY(0px);};
    100%{transform: translateY(2750px);};
}

// REALIZAR ANIMACIONES PARA EL SCROLL PARA EL "NOSOTROS"