@use '../utils/vars' as *;
@use '../utils/mixins' as *;

@keyframes floating{
    0%{transform: translateY(0px);}
    50%{transform: translateY(20px);}
    100%{transform: translateY(0px);}
}

// Zoom contenido
@keyframes zoomContent {
    0%{opacity: 0; scale: 25%;}
    100%{opacity: 1; scale: 100%;}
}

// Deslizamiento de imagen y texto principal
@keyframes slide-in-image {
    0%{transform: rotate(-55deg) translateX(-1500px);}
    100%{transform: rotate(0deg) translateX(0px);}
}
@keyframes slide-in-text {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

// Efecto del fondo
@keyframes background-effect {
    0%{transform: translateY(0px);};
    100%{transform: translateY(2750px);};
}

// Burguer Menu animación
@keyframes open-burguer-menu {
    0%{height: 0%;}
    100%{height: 30%;}
}

// REALIZAR ANIMACIONES PARA EL SCROLL PARA EL "NOSOTROS"