// Imports
@use './vars' as *;
@use './typography' as *;

//Mixins
@mixin sizes($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
@mixin displayFlex($justifyContent: center, $flexDirection: column){
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
@mixin fontConfig($textAlign: center, $fontSize: $sm, $fontWeight: $noBold, $fontColor: $darkFontColor){
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
    text-align: $textAlign;
}
@mixin buttonDesign($p: 5px, $width: 100px, $height: 40px, $bR: 20px){
    border: 0px;
    padding: $p;
    border-radius: $bR;
    background-image: $secondary-Normal-BackgroundImage;
    width: $width;
    height: $height;
    font-family: $montserratFont;
    color: $lightFontColor;
    font-weight: $bold;
    cursor: pointer;
    @include displayFlex();
}
@mixin imgAsButtons($w: 30px, $h: 30px){
    width: $w;
    height: $h;
    cursor: pointer;
}