@font-face {
    font-family: "Chennai W00 Black";
    src: url("../../public/assets/fonts/cc13032c6f788beadfb8519e4dc55d73.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Fonts
$montserratFont: "Montserrat", sans-serif;
$nunitoFont: "Nunito", sans-serif;
$chennaiFont: "Chennai W00 Black";

// Font Sizes
$sm: 14px;
$md: 16px;
$lg: 22px;
$slg: 30px;
$extraLg: 45px;

// Font Weights
$noBold: 400;
$bold: 600;
$superBold: 800;

// Font colors
$brandColor: #92a6d8;
$darkSecondaryFontColor: #4b57f5;
$secondaryFontColor: #ff4e4b;
$darkFontColor: #2c2c2c;
$lightFontColor: #f1f1f1;